<h1>New Category</h1>

<%= simple_form_for @category do |f| %>
  <div>
    <%= f.input :name, label: 'Category Name' %>
  </div>

  <div>
    <%= f.button :submit, 'Create Category' %>
  </div>
<% end %>

<p><%= link_to 'Back to Categories', categories_path %></p>
